/* Projects.css */
.scroll-container {
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}


/* Initial hidden state */
.scroll-fade {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Visible state when scrolled into view */
.scroll-fade.show {
  opacity: 1;
  transform: translateY(0);
}

.ye{
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
}